*swp
*~

doc/chap([1-15]).html
doc/*.txt
doc/*.css
doc/*.js
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.brf
doc/*.idx
doc/*.ilg
doc/*.ind
doc/*.log
doc/*.pnr
doc/*.tex
doc/*.toc
doc/*.out
doc/manual.lab
*.DS_Store